@import '~bulma/bulma';
.has-items-centered {
  margin: 0 auto !important;
  div {
    margin: 0 auto !important;
  }
}
.navbar-item {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
}
.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}
